*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{text-decoration: none;}
.text-justify{
    text-align: justify;
}


/* tophead Section Start */
header .topHead{
    height: 28px;
    background: #34313a;
}

header .topHead ul li {
    margin: 0px 20px;
}

header .topHead ul li a {
    color: white;
    font-size: 12px;
}

header .topHead .leftgroup ul li a:hover{
    text-decoration: underline;
}

header .topHead .rightgroup ul li {
      margin: 0px 15px;
}

header .topHead .rightgroup ul li select {
    background-color: #34313a;
    border: none;
    color: white;
}

header .topHead .leftgroup ul li a.active{
    width: auto;
    height:auto;
    color: #b00000;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    position: relative;
    background: #fff;
    display: inline-block;
}
header .topHead .leftgroup ul li a.active:hover{
    text-decoration: none;
}
header .topHead .leftgroup ul li a.active::before{
    content: "";
    top: 0px;
    width: 0;
    height: 0;
    right: 100%;
    position: absolute;
    border-right: 15px solid #fff;
    border-bottom: 0px solid #fff;
    border-top: 28px solid transparent;
}
header .topHead .leftgroup ul li a.active::after{
    content: "";
    top: 0px;
    width: 0;
    height: 0;
    left: 100%;
    position: absolute;
    border-top: 28px solid #fff;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
}
header .topHead .leftgroup ul li a:hover{
    text-decoration: underline;
}
/* ----------------------------------------------------------- */

nav a{
    font-size: 14px !important;
    font-weight: 600 !important;
    cursor: pointer;
}

.mega-menu {
    display: none;
    background-color: #34313a;
    color: white;
    margin-top: 29px;
    height: 70vh;
}

.mega-menu .col-md-8 {
    padding-left: 50px;
    padding-right: 30px;
}

.mega-menu p {
    color: #ccc;;
}

.choosags {
    text-align: center;
    margin-top: 15px;
}

.choosags2 p{
    margin-top: 15px;
}

.choosags2 .choos-ags {
    margin-top: 40px;
}

.choosags img {
    padding-bottom: 10px;
}

.choosags:hover {
    /* transform: scale(1.1); */
}



/* -------------------------------our services------------------------------- */

.mega-menu1 {
    display: none;
    background-color: #34313a;
    color: white;
    margin-top: 29px;
    height: 70vh;
}

.mega-menu1 .col-md-8 {
    border: 2px solid green;
}

.nav-item:hover .mega-menu1{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}

.mega-menu1 .oservices {
    margin-top: 8px;
    text-align: center;
}

.mega-menu1 p {
    margin-top: 0px;
    border: 2px solid green;
}

.oservices img {
    border: 2px solid green;
    margin-bottom: 0px;
}
.nav-item:hover .mega-menu{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px;   
}
/* Navbar Section End */
/* Slider Section Start */
.carousel-inner .carousel-item{
    height: 500px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0px;
}

.carousel-inner .carousel-item{
    height: 500px;
    /* width: 70%; */
}

.d-flex button{
    background-color: #b00000;
    border: none;
    padding: 2px 20px;
    border-radius: 6px;
}

.d-flex button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 4px;
    
}

.d-flex button a span {
    margin-right: 6px;
}

@keyframes zoomin{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

.floatimg {
    overflow: hidden;
}

.carousel-inner .carousel-item img {
    animation: zoomin 20s infinite;
}

.carousel-inner .carousel-item .carousel-caption {
    bottom: 5.50rem !important ;
}

/* ---------------------------------------------- */

.shape1 {
    width: 80%;
}
.col h3 {
    
    text-align: left;
    padding-left: 35px;
    padding-top: 80px;
    font-size: 25px;
    font-weight: 400;
}

.col h3::after{
    content: '';
    width: 86px;
    background: #b00000;
    display: block;
    height: 2px;
    margin-top: 23px;
    margin-left: -17px;
}

.col p {
    text-align: justify;
    padding-top: 23px;
    padding-left: 10px;
}

.branchbtn {
    margin-top: 20px;
}
.branchbtn a {
    border: 2px solid white;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px !important;
    padding: 7px 25px;
}


.branchbtn  #bt {
    background: rgba(176, 0, 0, 0.58);
    margin-right: 18px;
}

.branchbtn  #bt:hover {
    background-color: #9a0101;
    border: 2px solid white;
    color: #fff;
}

.branchbtn #bt1:hover {
    border-color: #9a0101;
    background-color: #9a0101;
    color: #fff;
}

.branchbtn #bt1{
    font-weight: 600;
}

/* ---------------------------------------------------------------- */
.row2 #shape {
    background-image:linear-gradient(rgba(4, 4, 10, 0.8),rgba(3, 3, 6, 0.8)), url("../Image/slider3-virtual-visit5.png");
    background-size: cover;
    height: 450px;
    margin: 0px;
    /* transform: skew(-20deg); */
}

/* ---------------------------------------------------------------- */
.interbox{
    color:  #b00000;
    min-height: 200px;
    margin-top: -100px;
    z-index: 9;
    background-color: white;
    text-align: center;
    
}

.interbox h2 {
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.interbox p {
    color: black;
    font-size: 18px;
    font-weight:600;
    text-align: center;
}

.interbox a{
    text-decoration: none;
    color: #b00000;
}

.interbox h4 {
    margin-top: 30px;
}

.interbox .errow1 {
    color: rgb(176, 174, 174);
    padding-right:15px ;
}

.interbox #errow {
    padding-left:15px ;
}


.services .btnclass {
    display: flex;
}

.services .btnclass .btn {
    border: 2px solid #b00000;
    border-radius: 0%;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 600;
    
    
}

.services #btn1 {
    margin-right: 20px;
    background-color: transparent;
    
}

.services #btn1 a {
    color: #b00000;
}

.services #btn2 a{
    
    color: white;
    
}

.services #btn2 {
    background-color: #b00000;
}

.services .btnclass a {
    text-decoration: none;
}

.services #btn1 a:hover{
    color: white;
}

.services #btn1:hover{
    background-color: #b00000;
}

.services #btn2:hover {
    background-color: #970000;
    border: 2px solid #970000;
}



/* .services .btn2 {
    display: flex;
} */

/* -----------------------indivitual section start------------------------- */
.imgbox {
    overflow: hidden;
}

.imgbox img:hover {
    transition: 0.8s all;
    transform: scale(1.1);
}

/* -----------------------indivitual section end------------------------- */

 /* ------------------Domestic section start-------------------  */
.domestic {
    background-color: rgb(51, 51, 51);
    margin-top: 45px;
    
}

.domestic .con a{
    color: #aaa;
    /* padding: 0 5px; */
    font-size: 12px;
    text-decoration: none;
}

.domestic h2 {
    font-size: 34px;
}

.domestic .ags  {
    color: #aaa;
    font-size: 18px;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 25px;
}

.domestic .mov{
    color: white;
}

.domestic p {
    color: #aaa;
    margin-top: 0px;
}

.domestic img:hover {
    transform: scale(1.1);
}

.domestic .con a:hover{
    color: white;
}
    
 /* ------------------Domestic section end-------------------  */


 /* ---------------------satisfaction section start------------------------ */
 .satisfaction h2 {
    font-size: 34px;
    color: #b00000;
    margin-bottom: 15px;
}

.satisfaction h5 {
    font-size: 18px;
    font-weight: 600px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.satisfaction p a {
    text-decoration: none;
    color: #b00000;
}

 /* ----------------World section start------------------ */
 .world {
    background-image: url('../Image/removals_bg.jpg');
    width: 1600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-size: cover !important;
    padding: 45px 0 40px 0;
    clear: left;
 }

 .world h2 {
    margin-top: 20px;
    font-size: 34px;
    color: #b00000;
    margin-bottom: 15px;
 }

 .world .cont {
    padding-top: 50px;
 }

 .world p {
    line-height: 22px;
    /* text-align: justify; */
    margin-bottom: 15px;
 }
 .world .numbers-label {
    width: 247.5px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-shadow: -1px 0px 5px #ffffff;
 }

 .world .numbers {
    width: 247.5px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 0px 5px #ffffff;
 }

 .world .cont::before{
    display: table;
    content: " ";
 }

 .world .col-md-3:nth-child(1):before {
    color: black;
    content: '+';
    font-size: 20px;
    margin-top: -18px;
    position: absolute;
    font-weight: bold;
    right: 1070px;
 }

 .world .col-md-3:nth-child(1):after {
    content: '2';
    font-size: 15px;
    line-height: 0;
    padding-left: 234px;
    margin-top: -58px;
    position: absolute;
    font-weight: bold;
}

.world .col-md-3:nth-child(1) p.numbers-label:after {
    content: 'm';
    font-size: 20px;
    line-height: 0;
    margin-left: 37px;
    margin-top: -13px;
    position: absolute;
}

 

 .world {
        margin: 0 0 10px;
    
 }

 .world .button a {
    margin-top: 30px;
    margin-bottom: 20px;
 }

 .world .button {
    width: 400px;
    /* border: 2px solid green; */
    
    margin: auto;
    text-align: center;
 }

 .world .world_btn{
    
    font-size: 14px;
    color: #fff;
    background: #b00000;
    border: none;
    padding: 10px 50px 10px 50px;
    text-align: center;
    font-weight: 620;
    margin: 13px 0 0 0;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.button .fa-chevron-right:before {
    content: "\f054";
}

.world i {
    
    float: right;
    font-size: 71px;
    margin-right: 20px;
}
.button a:hover{

text-decoration: none;
    background-color: #9a0101;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

 
 /* ----------------World section end------------------ */


 /* ---------------------------world wide section start--------------------------- */
 .w-wide {
    margin-top: 40px;
 }

 .world-side img{
    max-width: 100%;
    height: auto;
    margin-top: -8px;
 }

 .world-side .world-img{
    margin:0px auto 0 auto;
 }
.world-side h2 {
    font-size: 34px;
    color: #b00000;
    margin-bottom: 15px;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.world-side h5 {
    font-size: 18px;
    max-width: 80%;
    margin: 15px auto 20px;
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
    color: inherit;
    font-family: inherit;
}

.w-country{
    padding: 15px;
    width: 900px;
    margin: auto;
}

.w-country  a {
    color: #b00000;
}

 .w-countr {
    margin-top: 10px;
    margin-left: 24%;
}

#indus  a:hover {
    color: #630000;
}

.w-country .w-btn{
    border: 2px solid #b00000;
    float: left;
    font-size: 14px;
    color: #fff;
    background: #b00000;
    border: none;
    padding: 10px 30px 10px 50px;
    text-align: center;
    font-weight: 600;
    margin: 13px 0 0 0;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

.w-country #w1 {
    margin-right: 20px;
    color: #b00000;
    background-color: #fff;
    border: 2px solid #b00000;
}

.w-country #w2{
    color: white;
}

.w-country #w1:hover {
    background-color: #b00000;
    color: #fff;
    transition: all .2s linear;
    
}

.w-country #w2:hover {
    transition: all .2s linear;
    background-color: #9a0101;
}


/* ---------------------------world wide section start--------------------------- */

.footsec {
    background: linear-gradient(to right, #34313a, #424047, #34313a);
    max-width: 100%;
    margin-top: 35px;
}

.footitem {
    text-align: justify;
}

.footsec .footimg {
    margin-top: 25px;
}
.footitem {
    margin-top: 25px;
    font-size: 14px;
}

.footitem a {
    color: #878191;
    background-color: transparent;
}

.footitem a:hover {
    color: white;
    text-decoration: underline;
}

.footsec .footbtn {
    margin: 7px 0 27px 0px;
    background: #b00000;
    border-radius: 7px;
    height: 35px;
    width: 150px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    /* border: 2px solid green; */
}

.footitem span {
    color: white;
    font-size: 15px;
    padding-right: 10px;
}

.footbtn a{
    font-size: 14px;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 10px;
}
.footbtn span{
    margin: 5px 10px;
}

.footicon {
    color: white;
    font-size: 25px;
    
}

.footicon span {
    padding-right: 15px;
}

.oservices {
    margin-top: 33px;
}
.oservices h3 {
    font-size: 18px;
    font-weight: 600px;
    color: #fff;
    text-align: left;
}

.oservices ul{
    
    padding-left: 0px;
}

.oservices ul{
    list-style: none;
}

.oservices a {
    text-decoration: none;
    font-size: 14px;
    color: #878191;
}

.oservices a:hover {
     color: white;
     text-decoration: underline;
}

.oservices img {
    margin-top: 10px;
    margin-bottom: 60px;
}
/*media query section start*/
@media only screen and (max-width:1024px) {
    header .tophead {
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 13px !important;
    }
}



/* -------------------------------------------- */
