* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-justify {
    text-align: justify;
}

header .topHead{
    height: 28px;
    background-color:  #292b2c;
}

header .topHead .leftgroup ul li {
    margin: 0px 20px;
}

header .topHead .leftgroup ul li a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

header .topHead .leftgroup ul li a:hover{
    text-decoration: underline;
    
}

header .topHead .rightgroup ul li {
    margin: 0px 20px;
}

header .topHead .rightgroup ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

nav a {
    font-size: 14px !important;
    font-weight: 600 !important;
}

.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0px;
}

.carousel-inner .carousel-item{
    height: 500px;
    /* width: 70%; */
}

.d-flex button{
    background-color: #b00000;
    border: none;
    padding: 2px 20px;
    border-radius: 6px;
}

.d-flex button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 4px;
    
}

.d-flex button a span {
    margin-right: 6px;
}

@keyframes zoomin{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

.floatimg {
    overflow: hidden;
}

.carousel-inner .carousel-item img {
    animation: zoomin 20s infinite;
}

.carousel-inner .carousel-item .carousel-caption {
    bottom: 5.50rem !important ;
}

/* ---------------------------------------------------------------- */
.row2 #shape {
    background-image: url("/Image/slider3-virtual-visit5.png");
    background-size: cover;
    height: 450px;
    margin: 0px;
    /* transform: skew(-20deg); */
}

/* ---------------------------------------------------------------- */
.interbox{
    color:  #b00000;
    min-height: 200px;
    margin-top: -100px;
    z-index: 9;
    background-color: white;
    text-align: center;
    
}

.interbox h2 {
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.interbox p {
    color: black;
    font-size: 18px;
    font-weight:600;
    text-align: center;
}

.interbox a{
    text-decoration: none;
    color: #b00000;
}

.interbox h4 {
    margin-top: 30px;
}

.interbox .errow1 {
    color: rgb(176, 174, 174);
    padding-right:15px ;
}

.interbox #errow {
    padding-left:15px ;
}

/* -----------------------indivitual section start------------------------- */
.imgbox {
    overflow: hidden;
}

.imgbox img:hover {
    transition: 0.8s all;
    transform: scale(1.1);
}

/* -----------------------indivitual section end------------------------- */

 /* ------------------Domestic section start-------------------  */
.domestic {
    background-color: rgb(51, 51, 51);
}

.domestic h2 {
    font-size: 34px;
}

.domestic h5 {
    color: #aaa;
}

.domestic img:hover {
    transform: scale(1.1);
}
 /* ------------------Domestic section end-------------------  */


 /* ---------------------satisfaction section start------------------------ */
 .satisfaction h2 {
    font-size: 34px;
    color: #b00000;
    margin-bottom: 15px;
}

.satisfaction h5 {
    font-size: 18px;
    font-weight: 600px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

/*media query section start*/
@media only screen and (max-width:1024px) {
    header .tophead {
        flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 13px !important;
    }
}



/* -------------------------------------------- */
